* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    height: 70px;
    padding: 0 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-area img {
    width: 40px;
    height: 40px;
}

.logo-area span {
    font-size: 18px;
    font-weight: bold;
}

.logo-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.logo-btn img {
    width: 45px;
    height: 45px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: 40px;

}

.image {
    margin-right: 40px;
}

.img {
    width: 600px;
    height: 500px;
}

.btn {
    width: 70px;
    height: 29px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.btn a {
    text-decoration: none;
    color: #252C32;
    font-weight: 700;
}

.head {
    margin-bottom: 50px;
}

.text p {
    margin-bottom: 7px;
}

.size-box {
    margin-top: 50px;
}

.size {
    font-family: Arial, sans-serif;
}

.label {
    font-size: 14px;
    margin-bottom: 10px;
    color: #555;
}

.sizes {
    display: flex;
    gap: 10px;
}

/* hide radio */
.sizes input {
    display: none;
}

/* box style */
.sizes label {
    width: 45px;
    height: 40px;
    border-radius: 6px;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease;
}

/* hover */
.sizes label:hover {
    background: #e6e6e6;
}

/* active */
.sizes input:checked+label {
    background: #ddd;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cart {
    margin-top: 50px;
    display: flex;

    justify-content: center;
}

.link-cart {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: Outfit;
    color: #F61B5A;
}